:root {
  --red: #c9082a;
  --blue: #17408b;
  --black: #161616;
  --white: #fff;
  --gray: #a9a9a9;
  --yellow: #fdb927;
  --purple: #552583;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray);
  font-family: "Inter";
  background: linear-gradient(rgba(85, 37, 131, 0.4), rgba(85, 37, 131, 0.4)),
    url("https://images.unsplash.com/photo-1581852549708-72910bd52cff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  min-height: 100vh;
}

.header {
  text-transform: uppercase;
  color: var(--white);
  font-size: 24px;
  font-weight: 600;
  padding: 56px;
  font-family: "Anton";
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 72px;
}

.dream-team {
  margin-top: -6px;
  font-size: 32px;
}

.dream {
  color: var(--yellow);
}

.position-title {
  font-size: 16px;
  color: var(--white);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.positions-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0 40px;
}

.player {
  background-color: var(--black);
  width: 100%;
  color: var(--white);
  text-align: center;
  margin-top: 16px;
  padding: 24px 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  border: 3px solid transparent;
}

.player:hover {
  background-color: var(--yellow);
  color: var(--black);
}

.player.isSelected {
  background-color: var(--yellow);
  color: var(--black);
  border: 3px solid var(--white);
}

.position {
  padding: 8px;
}

.submit {
  border: none;
  padding: 24px 100px;
  background-color: var(--black);
  color: var(--white);
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.25s linear;
  font-weight: bold;
}

.submit:hover {
  transform: scale(1);
  box-shadow: none;
  background-color: var(--yellow);
  color: var(--black);
}

.submit-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  display: none;
}

.submit-container.show {
  display: flex;
}
